<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 引入-->
    <properties resource="jdbc.properties"/>

<!--    log4J实现sql日志输出  对应的配置 log4j.properties配置文件-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
<!--    将数据库中 a_b 格式的列和 aB 这种属性去对应-->
        <setting name="mapUnderscoreToCameClass" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.pojo.User" alias="User"/>
        <typeAlias type="com.pojo.Manager" alias="Manager"/>
    </typeAliases>
    <environments default="env">
        <environment id="env">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
<!--    mapper-->
    <mappers>
        <mapper resource="mapper/usermapper.xml"/>
    </mappers>
</configuration>